.header {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 100px;
}

.title-group a i {
    padding-right: .5rem;
}