<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened>
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons v-middle">
                    home
                </i>
                <span class="v-middle">Inicio</span>
            </a>
            <a mat-list-item routerLink="/produtos">
                <i class="material-icons v-middle">
                    store
                </i>
                <span class="v-middle">Produtos</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>